<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home page</title>
</head>

<body>

<h1>Themes</h1>

<table>
    <tr>
        <th>NAME</th>
    </tr>
    <tr th:each="themes,iterationStatus  : ${themes}">
        <td th:text="${iterationStatus.count}">1</td>
        <td th:text="${themes.name}" th:href="@{themes/{theme.id}}">Name</td>
        <td th:number="${themes.userId}">User</td>
    </tr>
</table>
<form th:action="@{/newTheme}" th:object="${user}" method="get">
    <input type="submit" value="Add theme" />
</form>
</body>
</html>