<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home page</title>
</head>

<body>

<h1>Themes</h1>

<table>
    <tr>
        <th>MESSAGES</th>
    </tr>
    <tr th:each="themeMessages,iterationStatus  : ${themeMessages}">
        <td th:text="${iterationStatus.count}">1</td>
        <td th:text="${themeMessages.message}">Name</td>
        <!--<td th:number="${themeMessages.userId}">User</td>-->
    </tr>
</table>
<form th:object="${themeMessage}">
    <div><label for="message">Your message:</label></div>
    <input id="message" type="text" name="message"/>
</form>
<form th:action="@{/addMessage}" th:object="${message}" method="post">
    <input type="submit" value="Add message" />
</form>
</body>
</html>